.sectionTitle {
  text-align: center;
  color: #007bff;
  font-size: 40px;
  font-weight: 900;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.card {
  border: none;
}

.card i {
  color: #007bff;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.card h3 {
  font-weight: normal;
}

.card__text {
  color: gray;
  font-weight: 400;
  font-size: 1rem;
}

.card__link {
  color: #007bff;
}

/* team */
.team__info {
  padding-left: 1.5rem;
}

.team__ocupation {
  color: gray;
}

.subtitle {
  text-align: center;
  letter-spacing: 2px;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 2rem;
}

/* hero */

.heroDiv {
  height: 200px;
  width: 100%;
  background-color: #007bff;
  padding-top: 2.5rem;
}
.heroTitle,
.heroSubtitle {
  margin-left: 4rem;
  color: #fff;
  font-weight: normal;
}

/* about */

.about {
  align-items: center;
}
